<mat-toolbar class="toolbar">
  <img src="../../../../assets/homeguardians_logo.png" width="60px">
  <div class="menu-options">
    <a class="button-menu" mat-button (click)="goToTraveler();">INICIO</a>
    <a class="button-menu" mat-button (click)="goToFindKeeper();">BUSCAR KEEPER</a>
    <a class="button-menu" mat-button (click)="goToMessenger();">MENSAJERIA</a>
    <a class="button-menu" mat-button (click)="goToProfile();"><img src="https://i.postimg.cc/Fs9Z3g3V/usuario-1.png" style="width: 3em;" ></a>
  </div>
</mat-toolbar>
<div class="user-info">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Información del Usuario</mat-card-title>
    </mat-card-header>
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135768.png" class="user-image"><br>
    <mat-card-content class="subtitle">
      <mat-card-subtitle class="user-data"><b>Nombres:</b> {{name}}</mat-card-subtitle>
      <mat-card-subtitle class="user-data"><b>Apellidos:</b> {{lastName}}</mat-card-subtitle>
      <mat-card-subtitle class="user-data"><b>Día de Nacimiento:</b> {{birthdate | date:'dd-MM-yyyy'}}</mat-card-subtitle>
      <mat-card-subtitle class="user-data"><b>Teléfono:</b> {{phone}}</mat-card-subtitle>
      <mat-card-subtitle class="user-data"><b>Correo Electrónico:</b> {{email}}</mat-card-subtitle>
      <button mat-button class="update-button" (click)="openUpdateDialog()">Actualizar información</button>
      <button mat-button class="update-button"  (click)="signOut()">Sign-Out</button>
    </mat-card-content>
  </mat-card>
</div>
