.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: #14131B;
}

.mat-card-header{
  text-align: center;
  align-content: center;
}

.title{
  display:flex;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
}

.subtitle{
  align-content: center;
  text-align: center;
}

.form-filter{
  display: flex;
  justify-content: center;
}

.filter{
  display:flex;
  width: 1000px;
  border:0;
  justify-content: center;
}

.examples-cards{
  display: flex;
  flex-wrap: wrap;
}

.example-data{
  background: lightskyblue;
  padding: 5px;
  width: 500px;
  height: 500px;
  margin: 5px;

  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.menu-options{
  display: flex;
  gap: 10px;
}

.examples-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.keeper-card {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #a6d9ff;
  border: 2px solid #004f81;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.keeper-left,
.keeper-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.keeper-description {
  flex: 1;

  padding-right: 20px;
  text-align: center;
}

.keeper-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.keeper-name {
  font-weight: bold;
  margin-top: 10px;
}

.keeper-rating {
  font-size: 20px;
  color: #f57000;
}

.keeper-location {
  font-style: italic;
  color: #555;
}
.custom-contact-button {
  background-color: #0b67c7;
  color: white;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  max-width: 25%;
  margin-right: 5px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.button {
  margin: 0 10%;
  padding: 10px 20px;
  font-size: 16px;
}
