<div class="form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="data_form" class="form-p1">
  <div class="form-p1">
    <div>
      <label>Sueldo mensual</label>
      <mat-form-field>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          formControlName="salary"
        />
        <span matTextPrefix *ngIf="data_form.get('coin')?.value == 'Soles'; else dolarTemplate"
        >S/</span
        >
        <ng-template #dolarTemplate>
          <span matTextPrefix>$</span>
        </ng-template>
      </mat-form-field>
    </div>

    <div>
      <label>Precio del vehiculo</label>
      <mat-form-field>
        <input
          matInput
          type="number"
          class="example-right-align"
          placeholder="0"
          formControlName="car_price"
        />
        <span matTextPrefix *ngIf="data_form.get('coin')?.value == 'Soles'; else dolarTemplate2"
        >S/</span
        >
        <ng-template #dolarTemplate2>
          <span matTextPrefix>$</span>
        </ng-template>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="rate-currency-form">
      <div>
        <label id="rate-label">Escoge tu tasa de interes</label>
        <mat-radio-group formControlName="rate" class="interest-rate-type">
          <mat-radio-button
            class="rate-option"
            *ngFor="let season of seasons"
            [value]="season"
          >
            {{ season }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <label id="currency-label">Escoge tu tasa de interes</label>
        <mat-radio-group formControlName="coin" class="interest-rate-type">
          <mat-radio-button
            class="rate-option"
            *ngFor="let coin of coins"
            [value]="coin"
          >
            {{ coin }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div>
      <label>Selecciona plan de pagos</label>
      <mat-form-field>
        <mat-select formControlName="plan">
          <mat-option value="plan24">Plan 24 meses</mat-option>
          <mat-option value="plan36">Plan 36 meses</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div>
    <label>Porcentaje de cuota inicial</label>
    <mat-form-field >
      <input
        matInput
        type="number"
        class="example-right-align"
        value="20"
        formControlName="initial_fee_percentage"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>

    <label>Porcentaje de cuota final</label>
    <mat-form-field >
      <input
        matInput
        type="number"
        class="example-right-align"
        value="20"
        formControlName="final_fee_percentage"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>

    <label>Porcentaje de tasa</label>
    <mat-form-field >
      <input
        matInput
        type="number"
        class="example-right-align"
        value="8.49"
        formControlName="interest_rate_percentage"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>
  </div>

  <div>
    <label>Seguro de riesgo</label>
    <mat-form-field >
      <input
        matInput
        type="number"
        class="example-right-align"
        value="0.029"
        formControlName="risk_insurance_percentage"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>

    <label>Seguro desagraven</label>
    <mat-form-field >
      <input
        matInput
        type="number"
        class="example-right-align"
        value="0.049"
        formControlName="disgrace_insurance_percentage"
      />
      <span matTextSuffix>%</span>
    </mat-form-field>
  </div>

  <div>
    <label>Selecciona tipo de periodo de gracia</label>
    <mat-form-field>
      <mat-select formControlName="type_period">
        <mat-option value=""></mat-option>
        <mat-option value="total">Total</mat-option>
        <mat-option value="parcial">Parcial</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Periodo de gracia</mat-label>
      <input
        matInput
        type="number"
        placeholder="Ex. 2"
        value="2"
        formControlName="grace_period"
        [disabled]="!enableGracePeriod()"
      />
    </mat-form-field>
  </div>

    <div class="button-container">
      <!-- Botones aquí -->
      <button mat-raised-button type="submit" color="primary">Calculate</button>
      <button mat-raised-button type="button" color="accent">Guardar</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
