@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.toolbar{
  background-color: whitesmoke;
  box-shadow: #14131B;
}


.card-text {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  text-decoration: none;
  display: block;
}


.card-text a {
  color: #007bff;
  text-decoration: none;
}


.card-text a:hover {
  text-decoration: underline;
}


.contenedor-principal{
  display: flex;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: url("https://i.imgur.com/frG70kv.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}
.mat-spacer{
  flex: 1.1 auto;

  box-shadow: #14131B;
}
.buttonnav{
  color: #14131B;
  margin: 10px;
  list-style-type: none;
}
.buttonnav:focus{
  color: #FF7A00;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}



.contenedor{
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: whitesmoke;
  opacity: 100%;
  border-radius: 30px;

  box-shadow:#14131B ;
  justify-content: center;

}
.contenedor2{
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 100%;
  border-radius: 30px;

  box-shadow:#14131B ;
  justify-content: center;

}
.section-button{

  place-items: center;
  display: flex;
  margin: auto;

  justify-content: center;
}

#btnn{

  background-color: transparent;
  border: none;

  padding: 0;
  flex-direction: column;
  font-weight: bold;
  color: black;
  font-family: 'Poppins',sans-serif;
  box-shadow: none;
}

.input{
  display: flex;

  border: none;
  text-align: start;
  justify-content: center;
}
.letter1{
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-flow: column;
  color: #007bff;

  font-family: 'Poppins',sans-serif;
}
.letter2{
  text-align: center;
  font-size: 40px;
  flex-flow: column;
  display: flex;
  color: #14131B;
  font-family: 'Poppins',sans-serif;
}

.card-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.keeperRequest-card {
  background-color: #63c9ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.keeperRequest-image {
  max-height: 200px;
  object-fit: cover;
}

.keeperRequest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.keeperRequest-name {
  font-size: 20px;
  color: #14131B;
  font-weight: bold;
}

.keeperRequest-rating {
  display: flex;
  align-items: center;
  color: #FF7A00;
}

.keeperRequest-rating-icon {
  font-size: 18px;
  margin-right: 5px;
}

.keeperRequest-rating-text {
  font-size: 18px;
}

.keeperRequest-message {
  font-size: 14px;
  margin: 10px;
  color: #333;
}
.keeperRequest-card:hover {
  transform: scale(1.05); /* Escala un 5% más grande */
  transition: transform 0.2s ease; /* Agrega una transición suave */
}
